$primary-blue: #5E81AC
$primary-light: #eceff4
.btn
    height: 55px
    width: 170px
    font-size: 1.2rem
    color: $primary-blue
    border: 2px solid $primary-blue
    border-radius: 40px
    font-weight: 400
    margin: 10px 0 10px 0

.mat-mdc-raised-button.custom
    background-color: $primary-light
