$primary-orange: #D08770
$primary-dark: #3B4252
$primary-light: #eceff4
$secondary-dark: #4C566A
.body
    min-height: 100vh
    height: auto
    width: 100vw
    background-color: $primary-light
    // border: 2px solid red
    display: flex
    // align-items: center
    justify-content: center
.outerAbt
    // border: 2px solid red
    width: 60vw
.abtBox
    border-bottom: 2px solid $primary-orange
    margin:100px 0 50px 0
.abtHeading
    font-size: 3rem
    margin-top: 20px
    padding-bottom: 20px
    color: $primary-dark
.card-box-outer
    justify-content: space-around
    flex-wrap: wrap
    //flex-direction: column
    width: 60vw
    height: auto
    min-height: 450px
    //border: 2px solid red
.card-box-inner
    //border: 2px solid green
    flex-direction: row
    width: 40vw
    height: auto
    min-height: 500px
    flex-wrap: wrap
    justify-content: space-around