<div class="body">
    <div class="outerAbt">
<div class="abtBox">
    <p class="abtHeading">About Us</p>
</div>
<!-- Written Raw,will use ngFor later -->
<app-content title="Welcome to AIcademia - Empowering Learning through AI" subTitle="At AIcademia, we believe that education is the key to unlocking endless possibilities. Our mission is to empower learners worldwide by harnessing the power of artificial intelligence to provide personalized, efficient, and collaborative learning experiences"></app-content>
<app-content title="Who We are" subTitle="AIcademia is a team of passionate educators, developers, and AI enthusiasts dedicated to revolutionizing the way individuals approach learning. We understand that every learner is unique, and that's why we've created an innovative platform that tailors education to individual needs." ></app-content>
<app-content title="Our Vison" subTitle="Our vision is to create a global learning community where knowledge knows no boundaries. We aspire to make learning a dynamic, engaging, and collaborative experience, breaking down traditional barriers and fostering a culture of continuous improvement." ></app-content>
<app-content title="Our Commitment" subTitle="At AIcademia, we are committed to:" ></app-content>

<div class="card-box-outer flexCent">
    <div class="card-box-inner flexCent">
<app-card title="Personalized Learning"  ></app-card>
<app-card title="Community Collaboration"></app-card>
<app-card title="Innovation in Education"></app-card>
<!-- </div> -->
<!-- <div class="card-box-inner flexCent"> -->
<app-card title="Privacy,Security and Confidentiality"></app-card>
<app-card title="Continuous Improvement" ></app-card>
<app-card title="Inclusivity and Diversity"></app-card>
</div>
</div>
<app-content title="Join Us onto our learning journey" subTitle="We invite you to join us on this exciting learning journey. Whether you're looking to strengthen your weak subjects, share your expertise, or simply connect with a community of like-minded learners, AIcademia is here to support you every step of the way.

Thank you for choosing AIcademia – where the future of learning is personalized, collaborative, and limitless !" ></app-content>

</div>