/* You can add global styles to this file, and also import other style files */
$primary-light: #ECEFF4
$primary-dark: #2E3440 
*
    margin:0
    padding:0
    box-sizing:border-box
    overflow: hidden
.custFont
    font-family: 'PT Sans', sans-serif
.flexCent
    display: flex
    align-items: center
    justify-content: center
