/* You can add global styles to this file, and also import other style files */
*
    margin:0
    padding:0
    box-sizing:border-box
.custFont
    font-family: 'PT Sans', sans-serif
.flexCent
    display: flex
    align-items: center
    justify-content: center
