$primary-orange: #D08770
$primary-dark: #3B4252
$primary-light: #eceff4
$secondary-dark: #4C566A

.body
    min-height: 100vh
    height: auto
    width: 100%
    background-color: $primary-light
    //border: 2px solid blue
    justify-content: center
    flex-wrap: wrap-reverse

.box
    height: auto
    max-height: 90vh
    width: 600px
    min-width:300px
    //border: 2px solid red
    margin: 0 10px 0 10px
    //margin-left: 20px
    //margin-right: 20px
@media screen and (max-width: 900px)
    .box
        width: 90%

.textBox
    height: auto
    min-height: 500px
    width: auto
    //border: 2px solid yellow
    margin: 0 10px 0 10px

.heading
    font-size:3rem
    font-weight: 700
    color: $primary-dark
    line-height: 70px
.aicademia
    color: $primary-orange
.subHeading
    font-size:1.6rem
    color: $secondary-dark
    font-weight: 200
    line-height: 30px
    width: auto
.heroImg
    height: 600px
    width: 600px
.btnBox
    max-width: 400px
    height: auto
    justify-content: space-between
    flex-wrap: wrap
    //border: 2px solid red

.phoneBox
    flex-direction: column
    justify-content: space-around
    flex-wrap: wrap
    width: 500px
    height: 700px
    //border: 2px solid pink

@media screen and (max-width:520px)
    .phoneBox
        //border: 2px solid red
        height: 400px

.phoneDiv
    height: auto
    width: auto
    //border: 2px solid pink
.extra
    height: 50px
    width: 50px
    //border: 2px solid blue
.phoneImg
    height: 500px
    width: 250px
@media screen and (max-width: 520px)
  .phoneImg
    height: 300px
    width: 150px

