$primary-orange: #D08770
$primary-dark: #3B4252
$primary-light: #eceff4
$secondary-dark: #4C566A

.body
    height: 100vh
    width: 100%
    background-color: $primary-light
    //border: 2px solid blue
    justify-content: center
    flex-wrap: wrap

.box
    height: auto
    max-height: 90vh
    width: 700px
    //border: 2px solid red
    //margin-left: 20px
    //margin-right: 20px

.textBox
    height: auto
    min-height: 500px
    width: 600px
    //border: 2px solid yellow

.heading
    font-size:3rem
    font-weight: 700
    color: $primary-dark
    line-height: 70px
.aicademia
    color: $primary-orange
.subHeading
    font-size:1.6rem
    color: $secondary-dark
    font-weight: 200
    line-height: 30px
    width: auto
.heroImg
    height: 600px
    width: 600px
.btnBox
    width: 20vw
    height: auto
    justify-content: space-between
    flex-wrap: wrap
    //border: 2px solid red
.phoneBox
    flex-direction: column
    justify-content: space-around
    flex-wrap: wrap
    width: 500px
    height: 700px
.phoneDiv
    height: auto
    width: auto
    //border: 2px solid pink
.extra
    height: 50px
    width: 50px
    //border: 2px solid blue
.phoneImg
    height: 500px
    width: 250px

