<div class="body flexCent">
    <div class="box flexCent">
        <div class="textBox ">
            <p class="heading custFont"><span class="aicademia">AIcademia,</span> <br>Where knowledge meets Community.</p>
            <span></span>
            <p class="subHeading">Empower your learning journey. Join a thriving community of learners,share expertise,
                and elevate your education together</p>
            <div class="btnBox flexCent">
            <app-dw-button></app-dw-button>
            <a href="/about"><app-ln-button></app-ln-button></a>
        </div>
        </div>
    </div>
    <div class="box flexCent phoneBox">
        <div class="phoneDiv"> <img class="phoneImg" src="../../assets/Component 2.svg" alt=""></div>
        <div class="phoneDiv extra"></div>
        <div class="phoneDiv"> <img class="phoneImg" src="../../assets/Component 1.svg" alt=""></div>
    </div>

</div>