.body
    height:90vh
    width: 100vw
.outerNav
    height: auto
    width:100vw
    // border:2px solid red
    background:#2e3440
    justify-content: center
.midNav
    //border: 2px solid yellow
    height: 60px
    width: 80vw
    justify-content: space-between
.innerNav
    height: 60px
    width:450px
    //border:2px solid green
    display: flex
    align-items: center
    justify-content: space-between

.innerNav div
    height: auto
    width: auto

    // border:2px solid pink
.logo
    width: 200px
    height: 130px
    margin-left:10px
.link
    text-decoration: none
    font-size: 1.8rem
    color: white
.btn
    width: 150px
    height: auto
    padding: 5px
    margin-right:10px
.btnTxt
    font-size:1.2rem
    line-height:20px
    margin: 0
.empty
    width: 150px
    height: 10px
    // border: 2px solid red

