<div class="body">
  <div class="outerNav">
    <div class="innerNav i1">
      <div class="logoBox flexCent">
        <a routerLink="" class="link"><p><img class="logo" src="../assets/alcademia.png" alt=""></p></a>
      </div>
      <div class="abt flexCent">
        <a routerLink="about">
          <p class="custFont link">About</p>
        </a>

      </div>
    </div>
    <div class="innerNav i2"><button mat-raised-button>button</button></div>

  </div>




  <!-- <button mat-slide-toggle>Toggle me!</button> -->


  <router-outlet></router-outlet>
</div>